*{
     margin:15px;
}

h1{
    color: #262626;
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
}
.sub-heading{
    color: #5f2c0c;
    text-decoration: underline;
}
.list{
    font-size: 24px; 
}
p{
    font-size: 20px;
    line-height: 1.2;
    padding: 15px;
}
#para1{
    background-color: antiquewhite;
    border: 2px solid red;
    
}
#para2{
    background-color: rgb(217, 246, 246);
    border: 2px solid rgb(0, 255, 136);
}
#box{
    height: 200px;
    width: 500px;
    background-color: #93BD57;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #980404;
    font-weight: 600;
    border: 2px solid #FBE580;
}
